.song-list-header {
	display: flex;
	justify-content: space-between;
}

.song-list-songbook-control {
	margin-top: 10px;
	line-height: 34px;
}

.song-list-songbook-control button {
	margin: 0 5px 0 5px;
}

.btn-chord {
	width: 45px;
	padding: 6px;
}

.editor-control .btn-group {
	margin: 0 5px 0 0;
}

.editor-control .btn-group .btn {
	border-bottom: none;
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
}

.editor-group .form-control {
	border-top-left-radius: unset;
}

.editor-group textarea {
	resize: vertical;
}

.song-row {
	cursor: move;
}

.song-row:hover {
	background-color: #f2f2f2 !important;
}

.editor-group .btn {
	font-size: 12px;
}

.psm {
	font-size: 13px;
}
